<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Welcome to My Awesome Site, <%= @user.name %>!</h1>
<p>
  You have successfully signed up to my awesome site,
  your username is: <%= @user.username %>.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
